head{
	margin:auto;
	padding: 5px;
}
.header{
	border-width:auto;
background-color:grey;
border-right:auto;
	text-align:center;
}
.logo{
	position:relative;
	left:200px;
	margin: 3px;
	opacity:1.0;
	height:50px;
	width:50px;
	background-color: white;
}
#slideshow{
border-right-width:100px;
border-top-width: 50px
}
#box{

}
footer{

}
h1{
	font-family: Arial;
	font-weight:bolder;
}
h2{
	font-family: Arial;
	background-color: black;
	font-weight: weight;
}
p{
	font-family: Arial;
	font-weight: bolder;
	font-size: x-large;
}